@keyframes ldio-atjlpy6q91e {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.34,1.34);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-atjlpy6q91e div > div {
  position: absolute;
  width: 15.76px;
  height: 15.76px;
  border-radius: 50%;
  background: #1d3f72;
  animation: ldio-atjlpy6q91e 1.2195121951219512s linear infinite;
}.ldio-atjlpy6q91e div:nth-child(1) > div {
  left: 131.5px;
  top: 90.5px;
  animation-delay: -1.097560975609756s;
}
.ldio-atjlpy6q91e > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 139.38px 98.38px;
}.ldio-atjlpy6q91e div:nth-child(2) > div {
  left: 124.5px;
  top: 114.5px;
  animation-delay: -0.9756097560975608s;
}
.ldio-atjlpy6q91e > div:nth-child(2) {
  transform: rotate(36deg);
  transform-origin: 132.38px 122.38px;
}.ldio-atjlpy6q91e div:nth-child(3) > div {
  left: 103.5px;
  top: 129.5px;
  animation-delay: -0.8536585365853657s;
}
.ldio-atjlpy6q91e > div:nth-child(3) {
  transform: rotate(72deg);
  transform-origin: 111.38px 137.38px;
}.ldio-atjlpy6q91e div:nth-child(4) > div {
  left: 77.5px;
  top: 129.5px;
  animation-delay: -0.7317073170731706s;
}
.ldio-atjlpy6q91e > div:nth-child(4) {
  transform: rotate(108deg);
  transform-origin: 85.38px 137.38px;
}.ldio-atjlpy6q91e div:nth-child(5) > div {
  left: 57.5px;
  top: 114.5px;
  animation-delay: -0.6097560975609755s;
}
.ldio-atjlpy6q91e > div:nth-child(5) {
  transform: rotate(144deg);
  transform-origin: 65.38px 122.38px;
}.ldio-atjlpy6q91e div:nth-child(6) > div {
  left: 49.5px;
  top: 90.5px;
  animation-delay: -0.4878048780487804s;
}
.ldio-atjlpy6q91e > div:nth-child(6) {
  transform: rotate(180deg);
  transform-origin: 57.379999999999995px 98.38px;
}.ldio-atjlpy6q91e div:nth-child(7) > div {
  left: 57.5px;
  top: 66.5px;
  animation-delay: -0.3658536585365853s;
}
.ldio-atjlpy6q91e > div:nth-child(7) {
  transform: rotate(216deg);
  transform-origin: 65.38px 74.38px;
}.ldio-atjlpy6q91e div:nth-child(8) > div {
  left: 77.5px;
  top: 51.5px;
  animation-delay: -0.2439024390243902s;
}
.ldio-atjlpy6q91e > div:nth-child(8) {
  transform: rotate(252deg);
  transform-origin: 85.38px 59.379999999999995px;
}.ldio-atjlpy6q91e div:nth-child(9) > div {
  left: 103.5px;
  top: 51.5px;
  animation-delay: -0.1219512195121951s;
}
.ldio-atjlpy6q91e > div:nth-child(9) {
  transform: rotate(288deg);
  transform-origin: 111.38px 59.379999999999995px;
}.ldio-atjlpy6q91e div:nth-child(10) > div {
  left: 124.5px;
  top: 66.5px;
  animation-delay: 0s;
}
.ldio-atjlpy6q91e > div:nth-child(10) {
  transform: rotate(324deg);
  transform-origin: 132.38px 74.38px;
}
.loadingio-spinner-spin-k1ak6woolu {
  width: 197px;
  height: 197px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-atjlpy6q91e {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-atjlpy6q91e div { box-sizing: content-box; }
/* generated by https://loading.io/ */
